.main-nav {
    position: relative;
    display: flex;
    align-items: center;

    height: 80px;
}

.nav {
    display: flex;
    margin-left: 93px;

    @media screen and (max-width: 767.98px) {
        display: none;
    }

    @media screen and (min-width: 768px) {
        margin-left: 90px;
    }
}

.nav__list:not(:last-child) {
    margin-right: 50px;
}

.nav__link {
    position: relative;
    display: block;
    padding: 30px 0px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: #212121;

    &:hover,
    &:focus {
        fill: var(--accent-color);
        color: var(--accent-color);
    }
}

.nav__link--currentpage {
    color: var(--accent-color);
}

.nav__link--currentpage::after {
    position: absolute;
    content: '';
    display: block;
    bottom: 0;

    width: 100%;
    height: 4px;

    background: var(--accent-color);
    border-radius: 2px;
    background-repeat: no-repeat;
    background-position: bottom;
}

.info {
    display: flex;
    margin-left: auto;
    align-items: center;

    @media screen and (max-width: 767.98px) {
        display: none;
    }

    @media screen and (min-width: 768px) and (max-width: 1199.98px) {
        display: block;
        margin-left: 85px;
    }
}

.info__list{
    display: flex;
    align-items: center;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);

    cursor: pointer;

    &:not(:last-child) {
        margin-right: 50px;
    }

    &:hover,
    &:focus {
        fill: var(--accent-color);
        color: var(--accent-color);
    }

    @media screen and (min-width: 768px) and (max-width: 1199.98px) {
        margin-bottom: 10px;
        font-size: 12px;
        line-height: 1.16;
    }
}

.info__icon {
    margin-left: 10px;
    color: #757575;

    &:hover,
    &:focus {
        fill: var(--accent-color);
        color: var(--accent-color);
    }

    @media screen and (min-width: 768px) {
        margin-left: 8px;
    }
}