.portfolio_list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 94px;
}

.portfolio_card {
    flex-basis: 100%;
    margin-bottom: 30px;

    border: 1px solid #EEEEEE;
    box-sizing: border-box;

    cursor: pointer;

    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }

    /* &:nth-child(3n) {
        margin-right: 0px;
    }

    &:nth-last-child(-n+3) {
        margin-bottom: 0px;
    } */

    @media screen and (min-width: 768px) {
        flex-basis: calc((100% - 30px) / 2);
        margin-right: 30px;
    }

    @media screen and (min-width: 1200px) {
        flex-basis: calc((100% - 60px) / 3);
    }
}

@media screen and (min-width: 768px) {
    .portfolio_card:nth-child(2n) {
        margin-right: 0;
    }
}

/* .portfolio_card {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;

    cursor: pointer;

    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }

    &:nth-child(3n) {
        margin-right: 0px;
    }

    &:nth-last-child(-n+3) {
        margin-bottom: 0px;
    }
} */

.portfolio_card:hover .portfolio_overlay,
.portfolio_card:focus .portfolio_overlay {
    transform: translateY(0);
}

.thumb {
    position: relative;
    overflow: hidden;

    &::before {
        opacity: 1;
    }
}

.portfolio_overlay {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(33, 150, 243, 0.9);

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio_label {
    margin: 0;
    padding: 0;
    width: 322px;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.frame {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 24px;
}

.portfolio_title {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}

.portfolio_decription {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: #757575;
}