.team {
    background-color: #F5F4FA;
}

.team_list {
    display: flex;
    flex-wrap: wrap;
}

.team_item {
    flex-basis: 100%;
    margin-bottom: 30px;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: #FFFFFF;

    @media screen and (min-width: 768px) {
        flex-basis: calc((100% - 30px) / 2);
        margin-right: 30px;
    }

    @media screen and (min-width: 1200px) {
        flex-basis: calc((100% - 30px * 3) / 4);
    }
}

.team_item:last-child {
    margin-bottom: 0;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .team_item:nth-child(2n) {
        margin-right: 0;
    }
    .team_item:nth-last-child(-n + 2) {
        margin-bottom: 0;
    }
}

@media screen and (min-width: 1200px) {
    .team_item:nth-child(4n) {
        margin-right: 0;
    }
    .team_item:nth-last-child(-n + 4) {
        margin-bottom: 0;
    }
}

.team_title {
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
}

.team_label {
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--secondary-text-color);
}

.society {
    display: flex;
    padding: 0;
    justify-content: center;

    margin: 16px 32px 30px 32px;
    list-style: none;
}